$font: "Unbounded", sans-serif;

$accent: #7027E2;
$light: #fff;
$dark: #2a2f36;
$grey: #ededed;

$tr: 0.3s;

$r_desk_full_over: 1600px;
$r_desk_full: 1500px;
$r_desk_wxga: 1366px;
$r_desk: 1024px;
$r_tab: 768px;
$r_mobile_600: 600px;
$r_mobile_500: 500px;
$r_mobile_400: 400px;
$r_mobile_360: 360px;