@use 'font';
@use 'var';

body {
    font-family: var.$font;
    color: var.$light;
    font-weight: 400;
    line-height: 1.1;
    background: #1F2023;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.title-h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    color: var.$grey;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: var.$r_mobile_600) {
        font-size: 18px;
    }
}

.header {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 71px;
    position: fixed;
    top: 0;
    z-index: 9999;
    @media (max-width: var.$r_tab) {
        height: 66px;
    }
    @media (max-width: (var.$r_tab - 20px)) {
        height: 40px;
        background-color: var.$accent;
    }
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 27px;
        position: absolute;
        background-color: var.$accent;
        top: 0;
        left: 0;
        z-index: -1;
        @media (max-width: var.$r_tab) {
            top: -2px;
        }
        @media (max-width: (var.$r_tab - 20px)) {
            display: none;
        }
    }
    &__logo {
        background-color: var.$accent;
        padding: 17px 45px 0 45px;
        border-radius: 0 10px 0 0;
        position: relative;
        @media (max-width: var.$r_desk) {
            padding: 17px 20px 0 20px;
        }
        @media (max-width: (var.$r_tab - 20px)) {
            padding: 5px 15px 0 15px;
        }
        &::before {
            content: '';
            display: block;
            width: 25px;
            height: 24px;
            background-image: url(../images/header/header-bottom-left.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
            bottom: -24px;
        }
        &::after {
            content: '';
            display: block;
            width: 68px;
            height: 71px;
            background-image: url(../images/header/header-left.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            right: -68px;
            @media (max-width: var.$r_tab) {
                height: 66px;
            }
            @media (max-width: (var.$r_tab - 20px)) {
                display: none;
            }
        }
    }
    &__info {
        background-color: var.$accent;
        padding: 17px 45px 0 45px;
        border-radius: 0 10px 0 0;
        position: relative;
        @media (max-width: var.$r_desk) {
            padding: 17px 20px 0 20px;
        }
        @media (max-width: var.$r_tab) {
            padding: 20px 20px 0 20px;
        }
        @media (max-width: (var.$r_tab - 20px)) {
            padding: 7px 15px 0 15px;
        }
        &::before {
            content: '';
            display: block;
            width: 25px;
            height: 24px;
            background-image: url(../images/header/header-bottom-right.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            bottom: -24px;
        }
        &::after {
            content: '';
            display: block;
            width: 68px;
            height: 71px;
            background-image: url(../images/header/header-right.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: -68px;
            @media (max-width: var.$r_tab) {
                height: 66px;
                left: -60px;
            }
            @media (max-width: (var.$r_tab - 20px)) {
                display: none;
            }
        }
    }
    &__link {
        color: var.$light;
        font-size: 20px;
        border-bottom: 1px solid var.$light;
        padding-bottom: 10px;
        transition: var.$tr;
        @media (hover: hover) {
            &:hover {
                border-bottom: 1px solid var.$accent;
            }
        }
        @media (max-width: var.$r_tab) {
            font-size: 16px;;
        }
        @media (max-width: var.$r_mobile_600) {
            font-size: 10px;
            padding-bottom: 3px;
        }
    }
}

.logo {
    &._max {
        svg {
            width: 400px;
            height: 31px;
            @media (max-width: var.$r_desk) {
                width: clamp(300px, 39vw, 400px);
            }
            @media (max-width: var.$r_mobile_600) {
                width: 150px;
            }
        }
    }
    &._min {
        svg {
            width: 200px;
            height: 14px;
        }
    }
}

.container {
    width: 100%;
    max-width: 1830px;
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
    @media (max-width: var.$r_desk) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.banner {
    display: flex;
    background-image: url(../images/banner/bg-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    padding: 100px 50px;
    margin-top: 135px;
    gap: 50px;
    @media (max-width: var.$r_desk_full) {
        flex-direction: column;
        padding: 80px 40px;
    }
    @media (max-width: (var.$r_desk - 24px)) {
        padding: 50px 30px;
    }
    @media (max-width: (var.$r_tab - 20px)) {
        margin-top: 88px;
        margin-bottom: 70px;
    }
    &__main {
        flex-basis: calc(61% - 50px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__info {
        flex-basis: calc(39% - 50px);
        @media (max-width: var.$r_desk_full) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        @media (max-width: (var.$r_tab - 20px)) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 151px;
        border: 1px solid var.$light;
        border-right: none;
        border-radius: 20px 0 0 20px;
        position: relative;
        padding: 30px;
        margin-right: 80px;
        box-sizing: border-box;
        transition: var.$tr;
        z-index: 1;
        @media (hover: hover) {
            &:hover {
                &::before {
                    width: 100%;
                    opacity: 1;
                    transform: scale(1);
                }
                .banner__decor {
                    background-color: var.$accent;
                    border-color: var.$accent;
                    &::after {
                        transform: scale(1);
                        opacity: 1;
                    }
                    @media (max-width: (var.$r_desk - 24px)) {
                        border-color: var.$light;
                    }
                }
            }
        }
        @media (max-width: var.$r_desk_full) {
            padding: 30px 0 30px 30px;
        }
        @media (max-width: (var.$r_desk - 24px)) {
            height: inherit;
            justify-content: center;
            padding: 24px 10px 24px 100px;
            margin-right: 0;
            border-right: 1px solid var.$light;
            border-radius: 20px;
        }
        & + & {
            margin-top: 19px;
            @media (max-width: var.$r_desk_full) {
                margin-top: 0;
            }
        }
        &::before {
            content: '';
            display: block;
            width: 0;
            height: 149px;
            background-color: var.$accent;
            border: 1px solid var.$accent;
            border-radius: 20px 0 0 20px;
            position: absolute;
            top: -1px;
            right: 0;
            z-index: -1;
            opacity: 0;
            transform: scale(0);
            transform-origin: top right;
            transition: var.$tr;
            @media (max-width: (var.$r_desk - 24px)) {
                width: 434px;
                height: 102px;
                right: -1px;
                border-radius: 20px;
                transform-origin: center;
            }
        }
    }

    &__text {
        font-size: 24px;
        font-weight: 200;
        margin: 0;
        @media (max-width: (var.$r_desk - 24px)) {
            font-size: 18px;
        }
        span {
            display: block;
            font-size: 32px;
            font-weight: 700;
            margin-top: 20px;
            @media (max-width: (var.$r_desk - 24px)) {
                font-size: 20px;
                margin-top: 12px;
            }
        }
    }
    &__decor {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -80px;
        border: 1px solid var.$light;
        border-radius: 10px;
        box-sizing: border-box;
        transition: var.$tr;
        @media (max-width: (var.$r_desk - 24px)) {
            top: calc(50% - 25px);
            right: inherit;
            left: 30px;
        }
        &::before {
            content: '';
            display: block;
            width: 80px;
            height: 151px;
            background-image: url(../images/banner/banner-info-decor.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: -2px;
            right: 0;
            @media (max-width: (var.$r_desk - 24px)) {
                display: none;
            }
        }
        &::after {
            content: '';
            display: block;
            width: 80px;
            height: 151px;
            transform: scale(0);
            transform-origin: top left;
            background-image: url(../images/banner/banner-info-decor-hover.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: -2px;
            right: 0;
            opacity: 0;
            transition: var.$tr;
            @media (max-width: (var.$r_desk - 24px)) {
                display: none;
            }
        }
    }
    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 1.1;
        max-width: 1031px;
        margin-top: 0;
        margin-bottom: 20px;
        @media (max-width: var.$r_desk_full) {
            font-size: clamp(50px, 4vw + 1rem, 64px);
        }
        @media (max-width: var.$r_tab) {
            font-size: 40px;
        }
    }
    &__btn {
        display: block;
        width: 100%;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: var.$light;
        background-color: var.$accent;
        border: 1px solid var.$accent;
        border-radius: 20px;
        padding: 30px;
        transition: var.$tr;
        cursor: pointer;
        @media(hover: hover) {
            &:hover {
                background-color: transparent;
            }
        }
        @media (max-width: var.$r_desk_full) {
            margin-top: 50px;
        }
    }
}

.banner-box {
    border: 1px solid var.$light;
    border-radius: 20px;
    padding: 30px 332px 30px 30px;
    position: relative;
    @media (max-width: var.$r_desk_full_over) {
        padding-right: clamp(200px, 20vw, 332px);
    }
    @media (max-width: var.$r_desk_full) {
        padding-right: 332px;
    }
    @media (max-width: var.$r_tab) {
        padding-right: clamp(150px, 33vw, 250px);
    }
    @media (max-width: (var.$r_tab - 20px)) {
        padding: 15px;
    }
    &__title {
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 30px;
        text-wrap: nowrap;
        @media (max-width: var.$r_tab) {
            font-size: clamp(18px, 1.5vw + 0.8rem, 24px);
        }
    }
    &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0;
        @media (max-width: var.$r_desk_full) {
            max-width: 572px;
        }
        @media (max-width: var.$r_tab) {
            font-size: clamp(14px, 2.7vw, 20px);
        }
    }
    &__img {
       position: absolute;
       @media (max-width: (var.$r_tab - 20px)) {
            display: none;
        }
       &._electricguitar {
        top: -68px;
        right: -20px;
        @media (max-width: var.$r_desk_full_over) {
            width: clamp(200px, 22vw, 332px);
        }
        @media (max-width: var.$r_desk_full) {
            width: auto;
            top: -68px;
            bottom: inherit;
        }
        @media (max-width: var.$r_tab) {
            width: clamp(150px, 33vw, 252px);
            top: -10px;
        }
       }
    }
}

.tag {
    display: flex;
    gap: 64px;
    animation: move-left 20s infinite linear alternate;
    margin-top: 150px;
    margin-bottom: 150px;
    @media (hover: hover) {
        &:hover {
            animation-play-state: paused;
        }
    }
    @media (max-width: (var.$r_desk)) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    @media (max-width: (var.$r_tab)) {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    @media (max-width: (var.$r_tab - 20px)) {
        display: none;
    }
    &__text {
        font-size: 24px;
        font-weight: 200;
        padding: 10px 20px;
        border: 1px solid var.$grey;
        border-radius: 50px;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background-color: var.$accent;
            border-radius: 100%;
            position: absolute;
            left: -40px;
            top: calc(50% - 8px);
        }
    }
}

@keyframes move-left {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.course {
    display: flex;
    gap: 70px;
    @media (max-width: var.$r_desk_full) {
        flex-direction: column;
        gap: 30px;
    }
    &__title {
        flex-basis: 395px;
        @media (max-width: var.$r_desk_full) {
            flex-basis: auto;
            display: flex;
            justify-content: space-between;
        }
        @media (max-width: var.$r_mobile_600) {
            align-items: center;
        }
    }
    &__control {
        margin-top: 40px;
        @media (max-width: var.$r_desk_full) {
            margin-top: 0;
        }
    }
    &__content {
        flex-basis: calc(100% - 395px - 70px);
        width: calc(100% - 395px - 70px);
        @media (max-width: var.$r_desk_full) {
            flex-basis: auto;
            width: 100%;
        } 
    }
    &__shedule {
        margin-top: 50px;
    }
}

.course-control {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: var.$r_tab) {
        gap: 16px;
    }
    @media (max-width: var.$r_mobile_600) {
        gap: 10px;
    }
    &__prev, &__next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background-color: transparent;
        border: 1px solid var.$light;
        border-radius: 100%;
        right: inherit;
        left: inherit;
        position: inherit;
        transition: var.$tr;
        @media (max-width: var.$r_tab) {
            width: 50px;
            height: 50px;
            margin-top: 0;
        }
        @media (max-width: var.$r_mobile_600) {
            width: 40px;
            height: 40px;
        }
        @media (hover: hover) {
            &:hover {
                background-color: var.$accent;
                border-color: var.$accent;
            }
        }
        &::after {
            content: '';
            display: block;
            width: 49px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            @media (max-width: var.$r_tab) {
                width: 32px;
                height: 16px;
            }
            @media (max-width: var.$r_mobile_600) {
                width: 25px;
                height: 12px;
            }
        }
    }
    &__prev {
        &::after {
            background-image: url(../images/ui/arrow-left.svg);
        }
    }
    &__next {
        &::after {
            background-image: url(../images/ui/arrow-right.svg);
        }
    }
}

.slider-teacher {
    &__item {
        height: min(707px, 36vw);
        background-color: var.$dark;
        border: 1px solid var.$dark;
        border-radius: 50px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        transition: var.$tr;
        box-sizing: border-box;
        @media (hover: hover) {
            &:hover {
               border-color: var.$accent;
               .slider-teacher__name,
               .slider-teacher__grid {
                    opacity: 1;
               }
            }
        }
        @media (max-width: var.$r_desk_full) {
            height: min(672px, 47vw);
        }
        @media (max-width: var.$r_tab) {
            border: 1px solid var.$accent;
        }
        @media (width < 460px) {
            height: max(237px, 52vw);
            width: max(157.55px, 34vw);
        }
        @media (width < 390px) {
            height: max(203px, 55vw);
            width: max(134.55px, 34vw);
        }
    }
    &__grid {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: var.$tr;
    }
    &__img {
        width: 100%;
        height: min(637px, 32vw);
        object-fit: cover;
        position: absolute;
        bottom: 0;
        @media (max-width: var.$r_desk_full) {
            height: min(642px, 43vw);
        }
        @media (width < 460px) {
            height: max(230px, 43vw);
            width: max(157.55px, 34vw);
        }
        @media (width < 390px) {
            height: max(191px, 52vw);
            width: max(131.55px, 34vw);
        }
    }
    &__name {
        width: 100%;
        font-size: clamp(16px, 2vw - 0.75rem, 24px);
        font-weight: 400;
        color: var.$grey;
        position: absolute;
        bottom: 30px;
        left: 30px;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0;
        transition: var.$tr;
        z-index: 1;
        @media (max-width: var.$r_desk_full) {
            text-align: center;
            left: 0;
        }
        &._desktop {
            @media (max-width: var.$r_tab) {
                display: none;
            }
        }
        &._mobile {
            display: none;
            font-size: 12px;
            margin-top: 8px;
            position: inherit;
            bottom: inherit;
            left: inherit;
            opacity: 1;
            @media (max-width: var.$r_tab) {
                display: block;
            }
            @media(width < 460px) {
                width: 155.55px;
            }
            @media(width < 390px) {
                width: 134.55px;
            }
            &::before {
                display: none;
            }
        }
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 707px;
            background: linear-gradient(43.06deg, rgba(0, 0, 0, 0.75),rgba(0.41, 0.41, 0.41, 0) 100%);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -30px;
            bottom: -30px;
            z-index: -1;
            @media (max-width: var.$r_desk_full) {
                left: 0;
            }
        }
    }
}

.accordion {
    &__btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: clamp(0.875rem, 0.6154rem + 1.1538vw, 2rem);
        color: var.$accent;
        font-weight: 400;
        background-color: var.$light;
        border: 0;
        border-radius: 20px;
        padding: 20px 25px 20px 30px;
        margin-bottom: 24px;
        &::after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background-image: url(../images/ui/minus.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        &.active {
           &::after {
            background-image: url(../images/ui/plus.svg); 
           } 
        }
    }
    &__panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: var.$light;
        border-radius: 20px;
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        padding: 30px 50px;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: clamp(0.75rem, 0.5769rem + 0.7692vw, 1.5rem);
        font-weight: 300;
        color: var.$dark;
        & + & {
            margin-top: 30px;
        }
        &::before {
            content: '—';
        }
    }
}

.steps {
    border: 1px solid var.$light;
    border-radius: 50px;
    background: linear-gradient(180.00deg, rgba(31, 32, 35, 1),rgba(112, 39, 226, 1) 50%,rgba(31, 32, 35, 1) 100%);
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 1920px;
    margin: 150px auto;
    @media (max-width: var.$r_desk) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media (max-width: var.$r_tab) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-top: 50px;
        @media (max-width: var.$r_desk_full) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: var.$r_tab) {
            gap: 20px;
        }
        @media (max-width: var.$r_mobile_600) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        background-color: var.$light;
        border-radius: 50px;
        padding: 30px;
    }
    &__text {
        color: var.$dark;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: 0;
        letter-spacing: -0.005em;
        @media (max-width: var.$r_mobile_600) {
            font-size: 12px;
        }
    }
    &__icon {
        @media (max-width: var.$r_mobile_600) {
            width: 40px;
            height: 40px;
        }
    }
}

.result {
    margin-bottom: 150px;
    container-type: inline-size;
    container-name: result;
    @container result (max-width: 935px) {
        .result__list {
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 110px;
        }
        .result__item._subgrid {
            grid-column: inherit;
            grid-template-columns: inherit;
        }
        .result__btn {
            width: 100%;
            grid-column: inherit;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    @container result (max-width: 600px) {
        .result__btn {
            font-size: clamp(14px, 3cqi, 20px);
        }
    }
    @container result (max-width: 450px) {
        .result__list {
            grid-template-columns: 1fr;
        }
    }
    @media (max-width: (var.$r_desk)) {
        margin-bottom: 100px;
    }
    @media (max-width: (var.$r_tab)) {
        margin-bottom: 80px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-top: 50px;
        position: relative;
        @media (max-width: var.$r_tab) {
            gap: 20px;
        }
    }
    &__item {
        background-color: var.$light;
        padding: 30px;
        border-radius: 20px;
        @media (max-width: var.$r_desk) {
            padding: clamp(20px, 2.8vw, 30px);
        }
        &._subgrid {
            grid-column: 2 / 5;
            display: grid;
            grid-template-columns: subgrid;
            grid-template-rows: 130px;
            align-items: center;
            @media (max-width: var.$r_desk) {
                grid-template-rows: inherit;
                display: block;
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: var.$dark;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0;
        span {
            width: fit-content;
            color: var.$light;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.1;
            background-color: var.$accent;
            padding: 10px;
            border-radius: 10px;
        }
    }
    &__btn {
        grid-column: 2 / 4;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: var.$light;
        background-color: var.$accent;
        border: 1px solid var.$accent;
        border-radius: 20px;
        padding: 30px;
        transition: var.$tr;
        cursor: pointer;
        @media(hover: hover) {
            &:hover {
                color: var.$accent;
                background-color: transparent;
            }
        }
    }
}

.areas {
    margin-top: 150px;
    margin-bottom: 150px;
    @media (max-width: (var.$r_desk)) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    @media (max-width: (var.$r_tab)) {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        color: var.$light;
        font-size: clamp(0.875rem, 0.6154rem + 1.1538vw, 2rem);
        line-height: 1.5;
        background-color: transparent;
        border-radius: 0;
        position: relative;
        transition: var.$tr;
        &:not(:last-child) {
            border-bottom: 1px solid var.$accent;
            margin-bottom: 30px;
        }
        @media (hover: hover) {
            &:hover {
                background-color: var.$accent;
                border-radius: 10px;
                &::after {
                    transform: rotate(45deg);
                }
                &::before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        &::after {
            content: '';
            display: block;
            width: 48px;
            height: 48px;
            background-image: url(../images/ui/arrow-rotate.svg);
            background-repeat: no-repeat;
            background-size: contain;
            transition: var.$tr;
            @media (width: var.$r_mobile_360) {
                width: 40px;
                height: 40px;
            }
        }
        &::before {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 44vw;
            opacity: 0;
            transform: scale(0);
            transition: var.$tr;
            @media(width < 1024px) {
                display: none;
            }
        }
        &._acoustic {
            &::before {
                width: clamp(200px, 32vw, 527px);
                height: 212px;
                background-image: url(../images/areas/acoustic-guitar.png);
                top: calc(50% - 106px);
            }
        }
        &._drums {
            &::before {
                width: clamp(200px, 17vw, 409px);
                height: 360px;
                background-image: url(../images/areas/drum.png);
                background-position: center;
                background-position: center;
                top: calc(50% - 180px);
            }
        }
        &._violin {
            &::before {
                width: clamp(200px, 28vw, 469px);
                height: 384px;
                background-image: url(../images/areas/violin.png);
                background-position: center;
                background-position: center;
                top: calc(50% - 192px);
            }
        }
        &._bas-guitar {
            &::before {
                width: clamp(200px, 27vw, 575px);
                height: 212px;
                background-image: url(../images/areas/bass-guitar.png);
                background-position: center;
                top: calc(50% - 106px);
            }
        }
    }
}

.footer {
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 10px 20px;
    background-color: var.$dark;
    padding: 30px 50px;
    margin-bottom: 30px;
    border-radius: 20px;
    @media (max-width: var.$r_desk_wxga) {
        grid-template-columns: 1fr 160px;
        gap: 20px;
    }
    @media (width < 650px) {
        display: flex;
        flex-direction: column;
        padding: 30px 15px;
    }
    &__text {
        margin-top: 0;
        margin-bottom: 0;
        & + & {
            margin-top: 6px;
        }
    }
    &__link {
        color: var.$accent;
        box-shadow: 0 4px 0 -3px var.$accent;
        transition: var.$tr;
        @media (max-width < 650px) {
            display: block;
            box-sizing: content-box;
            width: 100%; 
        }
        @media (hover: hover) {
            &:hover {
                box-shadow: 0 4px 0 -3px transparent;
            }
        }
    }
    &__info {
        @media (max-width: var.$r_desk_wxga) {
            grid-column: 1 / 3;
        }
    }
    &__copy {
        text-align: right;
        align-self: end;
        @media (max-width: var.$r_desk_wxga) {
            grid-column: 1 / 3;
            text-align: left;
            align-self: start;
        }
    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 11px;
    @media (max-width: 650px) {
        justify-content: flex-start;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: var.$light;
        border-radius: 10px;
        transition: var.$tr;
        @media (hover: hover) {
            &:hover {
                background-color: var.$accent;
                &::after {
                    background-color: var.$light;
                }
            }
        }
        &::after {
           content: '';
           display: block;
           background-color: var.$accent;
           mask: center center / 100% no-repeat;
           -webkit-mask: center center / 100% no-repeat;
           transition: var.$tr;
        }
        &._wa {
            &::after {
                width: 28px;
                height: 28px;
                mask-image: url(../images/social/wa.svg);
                -webkit-mask-image: url(../images/social/wa.svg);
            }
        }
        &._vk {
            &::after {
                width: 31px;
                height: 18px;
                mask-image: url(../images/social/vk.svg);
                -webkit-mask-image: url(../images/social/vk.svg);
            }
        }
        &._tg {
            &::after {
                width: 25px;
                height: 21px;
                mask-image: url(../images/social/tg.svg);
                -webkit-mask-image: url(../images/social/tg.svg);
            }
        }
    }
}